footer.footer.bg-d-blue
    .container
        .row
            .col-md-9
                img(src=require('assets/images/footer-logo.png'))
                p At Acronis 2X, we believe that all personal and business data is essential. Our job is to protect it from all modern threats and assure you that your data is safe and available. We're there for you regardless of the device from which the data comes—PC, Mac, or Mobile.  You get 2X the protection with cloud and local (or NAS) drive backup.
            .col-md-3
                ul.nav.float-md-right
                    li.nav-item.p-y-425
                        a.nav-link(href='#') Features
                    li.nav-item.p-y-425
                        a.nav-link(href='#') Support
                    li.nav-item.p-y-425
                        a.nav-link(href='#') Privacy Policy
                    li.nav-item.p-y-425
                        a.nav-link(href='#') Forum
