head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')

    block title
        title 2X

    //-favicon
    link(rel='shortcut icon', href=require('assets/images/favicon.ico'), type='image/x-icon')
    link(rel='icon', href=require('assets/images/favicon.ico'), type='image/x-icon')