/* --------- variables --------- */

$rem-baseline: 16px;

$font-family-base: "Open Sans", sans-serif;
$body-color: #525966;
$border-radius: 0;

$grey: #aaafb3;
$blue: #00204d;
$l-blue: #4d94e0;
$dark: #2d3138;
$green: #9bc225;

$btn-primary-bg: $l-blue;

$btn-secondary-color: #fff;
$btn-secondary-bg: $green;
$btn-secondary-border: $green;